<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Girls blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 15.11.2015, 02:25</p>
        <h2><a href="">My first post</a></h2>
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.</p>
    </div>

    <div>
        <p>published: 15.11.2015, 02:25</p>
        <h2><a href="">My second post</a></h2>
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.</p>
    </div>

</body>
</html>